BODY {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #FFFFCC
}

P {
	margin-top: 0.8em;
}

A:visited {
	COLOR: #005ba2;
	TEXT-DECORATION: none
}
A:link {
	COLOR: #005ba2;
	TEXT-DECORATION: none
}
A:active {
	COLOR: #005ba2;
	TEXT-DECORATION: none
}
A:hover {
	COLOR: #007BDF;
	TEXT-DECORATION: underline
}


.note {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; font-style: italic;
}


.pagetitle2 {
	font style="font: bold 18px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #005ba2"
	
}




.pagetitle {
	FONT-SIZE: 18px; COLOR: #005ba2; font-weight: bold; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}

.subtitle {
	FONT-SIZE: 14px;
	COLOR: #005ba2;
	font-weight: bold;
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-style: italic;
	margin-top: 2em;
	margin-bottom: 1em;
}


.shortcut {
	FONT-SIZE: 12px; COLOR: #808080; FONT-FAMILY: MS Sans Serif, Sans-serif, Verdana, Geneva, Arial, Helvetica
}


.lefttitle {
	FONT-SIZE: 10px; COLOR: #FFFFFF; font-style: normal; font-variant: normal; font-weight: bold; font-weight: bold; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}




.selected2 {
	FONT-SIZE: 10px; COLOR: #005ba2; font-style: normal; font-variant: normal; font-weight: bold; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif
}

.selected {
	font: 10px/18px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #005ba2; font-weight: bold; font-style: italic; }



.leftmenu {
	font: 10px/18px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #005ba2; font-weight: normal; font-style: normal;
}


.nadpis {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; font-weight: bold; TEXT-DECORATION: underline;
}

.zahlavi1 {
	font-family: verdana, Helvetica CE, Arial CE, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: bold; color: #ffffff;
}

.normal {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}

.command2 {
	FONT-SIZE: 12px; COLOR: #000080; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}



.hotkey {
	FONT-SIZE: 12px; COLOR: #808080; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}


.command {
	FONT-SIZE: 14px; COLOR: #000080; FONT-FAMILY: arial ce, geneva ce, arial, sans-serif ce, sans-serif
}


TD {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: arial ce, geneva ce, arial, sans-serif ce, sans-serif
}


H1 {
	FONT-SIZE: 16px; FONT-FAMILY: arial ce, geneva ce, arial, sans-serif ce, sans-serif
}



.extra {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000
}



.poznamka {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}


.topofpage {
	font: 10px Verdana, Geneva, Arial, Helvetica, sans-serif;
}



.copyright {
	FONT-SIZE: 9px; COLOR: #B0B0B0; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.howto {
  color: #000000;
  BACKGROUND-COLOR: #FFeebb
}

.subsubtitle {
	FONT-SIZE: 12px;
	COLOR: #000000;
	font-weight: bold;
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-style: normal;
	margin-top: 1.8em;
	margin-bottom: 3px;
}

.normli {
  margin-top: 0.6em; 
  margin-left: -1em;
}

.spacedli {
  margin-top: 0.8em;
}

.upper {
  vertical-align: super;
  font-size: smaller;
}


